version: '3.9'
services:
  forgekeeper:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        FORGEKEEPER_USER_EMAIL: ${FORGEKEEPER_USER_EMAIL:-dev@example.com}
        FORGEKEEPER_HANDLE: ${FORGEKEEPER_HANDLE:-forgekeeper}
        FORGEKEEPER_WORKSPACE: ${FORGEKEEPER_WORKSPACE:-workspace}
    image: forgekeeper:latest
    container_name: forgekeeper
    privileged: true
    volumes:
      - ./:/workspaces
    ports:
      - "7000:7000"
      - "8080:8080"
      - "3000:3000"
      - "3001:3001"
      - "3002:3002"
      - "7681:7681"
      - "8001:8001"
      - "8081:8081"
      - "8082:8082"
      - "8083:8083"
      - "8084:8084"
      - "8888:8888"
      - "5000:5000"
      - "5050:5050"
      - "6006:6006"
      - "9000:9000"
      - "9090:9090"
      - "16686:16686"
      - "19999:19999"
    environment:
      - FORGEKEEPER_USER_EMAIL=${FORGEKEEPER_USER_EMAIL:-dev@example.com}
      - FORGEKEEPER_HANDLE=${FORGEKEEPER_HANDLE:-forgekeeper}
      - FORGEKEEPER_WORKSPACE=${FORGEKEEPER_WORKSPACE:-workspace}
    command: ["sleep", "infinity"]
